@font-face {
    font-family: 'Aboreto';
    src: url(../fonts/Aboreto-Regular.ttf);
    font-weight:  400;
}
@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/UbuntuCondensed-Regular.ttf);
    font-weight:  400;
}
